:root {
  --color-white: #ffffff;
  --color-navy-blue: #2e2f42;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-green: #31d0aa;
  --color-dairy: #fcfcfc;
  --color-overlay: #2e2f4266;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-white);
  color: var(--color-slate);
}

a {
  text-decoration: none;
}
ul {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin: 72px;
}
header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* HEADER */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-socials {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
}
.logo {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
}
.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}
.current:hover::after {
  position: relative;
  color: #404bbf;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address-list {
  font-style: normal;
  color: #434455;
}
.nav-adress {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-adress:active {
  color: #404bbf;
}
.nav-adress:hover {
  color: #404bbf;
}
.nav-adress:focus {
  color: #404bbf;
}
.nav-item {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO-SECTION */

.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 48px auto 0;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}
.hero-button:focus {
  background-color: #404bbf;
}

/* OUR ADVANTAGES */
.icon-section {
  display: flex;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 264px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
}

.our-advantages-section {
  background-color: #fff;
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.advantage-item {
  flex-basis: calc((100% - 72px) / 4);
}
.our-advantages-title {
  color: #404bbf;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.advantages-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* OUR TEAM */

.our-team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 100%;
}

.team-cart {
  background-color: #ffffff;
  flex-wrap: wrap;
  gap: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-team-title {
  margin: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.prof-name-title {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.team-text {
  padding: 32px;
  text-align: center;
  padding: 32px 0;
}
.sosial-card-info {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.traling-list {
  width: 40px;
  height: 40px;
}
.traling-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.traling-socials:hover,
.traling-socials:focus {
  background-color: #404bbf;
}
.traling-icon {
  fill: #f4f4fd;
}
/* Our portfolio */
.our-porfolio-section {
  background-color: #ffffff;
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-list-item {
  border: 1px solid #e7e9fc;
  flex-wrap: wrap;
  gap: 24px;
  width: calc((100% - 48px) / 3);
  max-height: 480px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.service-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.option-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.portfolio-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-portfolio {
  width: 100%;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-image {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  inset: 0;
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-text {
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
/* FOOTER */
footer {
  padding: 100px 0;
}
.footer-first-part {
  margin-right: 120px;
}
.footer-inner {
  display: flex;
  align-items: baseline;
}
.logo-footer {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-section {
  background-color: #2e2f42;
}

.logo-studio-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
}
.social-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-link-icons {
  width: 40px;
  height: 40px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon:hover,
.social-icon:focus {
  background-color: #31d0aa;
}
.frame-icon {
  fill: #f4f4fd;
}
.footer-subscribe {
  margin-left: 80px;
}
.subscribe-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
  align-items: end;
}
.footer-label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 16px;
}
.footer-input {
  color: var(--color-white);
  background-color: var(--color-navy-blue);
  border: 1px solid var(--color-white);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: var(--color-white);
  font-weight: 400;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.04;
}
.footer-input:focus {
  outline: none;
}
.subscribe-btn {
  font-family: 'Roboto', sans-serif;
  min-width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 16px;
  padding: 8px 24px;
  background-color: var(--color-iris);
  color: var(--color-white);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--color-ocean);
}
.subscribe-icon {
  margin-left: 16px;
  fill: var(--color-white);
  width: 24px;
  height: 24px;
}

/* modal */
.modal-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-overlay);
  position: fixed;
  cursor: default;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-dairy);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  visibility: visible;
  opacity: 1;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-navy-blue);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: var(--color-cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.field-block {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-light-slate);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  position: relative;
}
.modal-label a {
  color: var(--color-iris);
  text-decoration: underline;
}
.modal-label a:hover,
.modal-label a:focus,
.modal-label a:active {
  text-decoration: none;
}
.field-subblock {
  position: relative;
}
.modal-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus,
.modal-field:active {
  border: 1px solid var(--color-iris);
}
.modal-icon {
  position: absolute;
  width: 18px;
  height: 24px;
  left: 16px;
  fill: var(--color-navy-blue);
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus + .modal-icon {
  fill: var(--color-iris);
}
.textarea-block {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.checkbox-block {
  margin-bottom: 24px;
}
.user-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}
.user-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.user-privacy-icon {
  fill: var(--color-white);
}
.modal-checkbox-input:checked + .user-privacy-label > .user-privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  border-color: #404bbf;
}
.user-privacy-link {
  color: var(--color-iris);
  text-decoration: underline;
}
.modal-button {
  padding: 16px 32px;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--color-white);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  margin-top: 24px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-ocean);
  fill: var(--color-white);
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
